extends ../layout
block content
	.container
		.row
			from.from-horizontal(method="post",action="/add")
				.form-group
					label.col-sm-3.cotrol-label(for="inputid") 输入商品编号
					.col-sm-9
						input#inputid.form-control(type="text",name="good[id]",value="#{good.id}")
				.form-group
					label.col-sm-3.cotrol-label(for="inputname") 输入商品名称
					.col-sm-9
						input#inputname.form-control(type="text",name="good[name]",value="#{good.name}")
				.form-group
					label.col-sm-3.cotrol-label(for="inputclass") 输入商品类别
					.col-sm-9
						input#inputclass.form-control(type="text",name="good[class]",value="#{good.class}")
				.form-group
					label.col-sm-3.cotrol-label(for="inputplace") 输入生产场地
					.col-sm-9
						input#inputplace.form-control(type="text",name="good[place]",value="#{good.place}")
				.form-group
					label.col-sm-3.cotrol-label(for="inputprice") 输入价格
					.col-sm-9
						input#inputprice.form-control(type="text",name="good[price]",value="#{good.price}")
				.form-group
					label.col-sm-3.cotrol-label(for="inputenergy") 输入营养价值
					.col-sm-9
						input#inputenergy.form-control(type="text",name="good[energy]",value="#{good.energy}")
				.form-group
					label(for="inputfile") 添加照片
					input#inputfile(type="file")
				.form-group
					.col-sm-offset-5.col-sm-5
						button.btn.btn-success(type="submit") 提交